In [1]:
import numpy as np  
import pandas as pd 
#importing modules....to see the graphical manner see the earlier .ipynb file

In [2]:
df=pd.read_csv('USA_Housing.csv')
#reading data

In [3]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
df=df.drop('Address',axis=1)
#dropping name as we do not require it

In [5]:
df.head()
#head of data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [6]:
def scaler(x):
    return ((x-x.mean(axis=0))/(x.max(axis=0)-x.min(axis=0)))
    #scaling function

In [7]:
train, validate, test = \
              np.split(df.sample(frac=1, random_state=42), 
                       [int(.7*len(df)), int(.8*len(df))])
                       #splitting data into 3 parts: train, validate and test

In [8]:
X_train=train.drop('Price',axis=1)
X_validation=validate.drop('Price',axis=1)
X_test=test.drop('Price',axis=1)
y_train=train[['Price']]
y_validation=validate[['Price']]
y_test=test[['Price']]
#dividing data

In [9]:
X_train=scaler(X_train)
X_validation=scaler(X_validation)
X_test=scaler(X_test)
#scaling features

In [10]:
X_train.insert(0,'bias',value=1)
X_validation.insert(0,'bias',value=1)
X_test.insert(0,'bias',value=1)
#inserting bias column

In [11]:
X_validation

,bias,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
4431,1,0.035773,-0.025634,0.313063,0.085160,-0.110687
2162,1,-0.075225,-0.213942,0.086926,-0.123729,0.076552
2396,1,-0.062737,0.072070,0.169223,-0.123729,-0.231148
4768,1,0.039604,-0.171099,0.039611,0.222938,0.058826
2271,1,-0.031072,0.006331,0.194389,0.522938,-0.049823
...,...,...,...,...,...,...
3335,1,0.218538,0.031976,0.170684,0.087382,0.124927
1920,1,0.013421,0.016097,-0.228818,-0.221507,-0.043642
3715,1,-0.049487,-0.112496,0.246488,-0.132618,-0.154638
4646,1,0.111383,-0.297272,-0.029566,-0.370396,-0.083428
946,1,-0.068869,0.274325,0.121117,0.460716,-0.203140

In [12]:
X_train

,bias,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
1501,1,-0.094013,0.163352,-0.073005,-0.161885,0.110012
2586,1,-0.159864,0.143778,-0.009034,-0.188552,0.104800
2653,1,0.020884,0.120492,-0.043456,-0.437441,-0.100503
1055,1,0.008760,0.050630,0.117510,0.067004,-0.169171
705,1,0.059732,-0.403059,-0.065851,-0.332996,0.207932
...,...,...,...,...,...,...
2087,1,-0.087598,0.092981,-0.033099,0.098115,-0.129226
1889,1,0.092684,0.216721,-0.189277,-0.166330,-0.065146
4622,1,-0.055040,-0.022495,0.029118,-0.128552,-0.062395
1591,1,0.248314,-0.179309,-0.000420,-0.417441,0.058918
1346,1,-0.281890,0.027258,0.167810,0.047004,0.189603

In [13]:
theta=np.zeros(X_train.shape[1]).reshape(1,X_train.shape[1])
#defining weight matrix and initializing it

In [14]:
theta.shape
#shape

(1, 6)

In [15]:
def cost(x,y,theta):
    z1=np.dot(x,theta.T)
    z1=z1-y
    z1=np.sum(np.square(z1))
    z1=z1/(2*len(x))
    lam=0.0001
    z2=np.sum((lam/(2*len(x)))*np.square(theta[:,1:]))
    return (z1+z2)
    #cost function with regularization

In [16]:
cost(X_train,y_train,theta)
#calling cost, just to check

Price    8.238117e+11
dtype: float64

In [17]:
def gradient(x,y,theta):
    alpha=0.0001
    lam=0.0001
    m=len(x)
    z2=np.zeros(theta.shape)
    costi=np.zeros(40000)
    for i in range(40000):
        z1=np.dot(x,theta.T)
        z1=z1-y
        z1=np.dot(z1.T,x)
        z1=z1/m
        z2[:,1:] =(lam/m)*theta[:,1:]
        z1=z1+z2
        theta=theta-(alpha*z1)
        costi[i]=cost(x,y,theta)
    return theta,costi
    #gradient descent with regularization

In [18]:
f,g=gradient(X_train,y_train,theta)
#catching theta and cost function

In [85]:
g[30000],g[39999]
#checking if cost function is converging or not

(55869960841.28605, 52140191284.18722)

In [26]:
pre=np.dot(X_validation,f.T)
#finding predictions for validation set

In [27]:
pre=pd.DataFrame(pre)

In [42]:
pre

                0
0    1.229550e+06
1    1.187634e+06
2    1.197059e+06
3    1.220752e+06
4    1.245594e+06
..            ...
495  1.267295e+06
496  1.186634e+06
497  1.191659e+06
498  1.170776e+06
499  1.246115e+06

[500 rows x 1 columns]

In [78]:
correct = [1 if a-b<300000 else 0 for (a, b) in zip(pre.iloc[:,0], y_validation.iloc[:,0])]
accuracy = (sum(map(int, correct)) / float(len(correct)))
print ('accuracy = {0}%'.format(accuracy * 100))
#accuracy of validation set

accuracy = 82.19999999999999%

In [ ]:
# the purpose of validation set is to know whether we need more iteration or the cost function is good to go for test set. so if accuracy is not good at validation set then change your cost function..
#  in this case, it could be even more better but it would require more iteration, which my pc can't handle

In [80]:
predictions=np.dot(X_test,f.T)
#finding predictions

In [82]:
predictions=pd.DataFrame(predictions)

In [83]:
correct = [1 if a-b<300000 else 0 for (a, b) in zip(predictions.iloc[:,0], y_test.iloc[:,0])]
accuracy = (sum(map(int, correct)) / float(len(correct)))
print ('accuracy = {0}%'.format(accuracy * 100))
#test accuracy..just for education purpose

accuracy = 81.89999999999999%